

.layanan-section {
  padding: 40px 20px;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #000f38; 
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 20px; 
  align-items: stretch;
}

.card {
  background-color: #f8f9fa; 
  border: 1px solid #dee2e6; 
  border-radius: 8px;
  padding: 20px;
  flex: 1 0 18%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  margin-top: 0;
  color: #000f38; 
}

.card p {
  color: #676767; 
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
@media (max-width: 768px) {
  .card {
      flex: 1 0 calc(50% - 20px); 
  }
}

@media (max-width: 576px) {
  .card {
      flex: 1 0 100%; 
      margin-bottom: 20px;
  }
}
