.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
}
.hero-text h1{
    font-size: 70px;
    font-weight: 600;
    display: flex;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}
@media (max-width: 840px) {
    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 14px;
    }
      
      .btn img {
            width: 20px;
            margin-left: 10px;
          
    }

}